* {
  box-sizing:border-box;
}

/* horizontal */
nav ul {
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  background: rgb(53, 53, 179);
}
nav ul li {
  padding:10px;
  font-weight: bold
}

nav ul li a {
  color: rgb(12, 205, 205);
  text-decoration: none;
}

body {background-image: url("media/1064.png");
}

h1   {color: rgb(255, 255, 255);
	background-color: rgb(47, 178, 198);
	text-align: center;
	max-width:fit-content; 
	margin-left:5%;
	padding: 10px;
	border: 5px solid rgb(121, 45, 146);
}

p    {color: rgb(170, 25, 189);
	background-color: rgb(166, 201, 241);
	max-width:fit-content;
	padding: 5px;
	margin-top: 1%;
	margin-left: 5%;
	border: 5px solid rgb(28, 184, 145);
	font-weight: bold
}

h2    {color: rgb(255, 255, 255);
	background-color: rgb(106, 153, 207);
	max-width:fit-content;
	padding: 5px;
	margin: auto;
	margin-bottom: 1%;
	border: 5px solid rgb(28, 184, 145);
	font-weight: bold
}

label    {color: rgb(255, 255, 255);
	background-color: rgb(106, 153, 207);
	max-width:fit-content;
	padding: 3px;
	margin: auto;
	margin-bottom: 1%;
	border: 2px solid rgb(20, 11, 195);
	font-weight: normal
}

.carousel-inner img {
  margin: auto;
}